ul {

}

h1 {

}

#heading-1 {
  color: violet;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h-2 {

}

.c-2 {
  color: #82b27d !important;
}

.f-2 {
  font-family: monospace;
}
